.project-heading{
    padding-left: 80px;
    font-size: 20px;

}
.project-des{
    padding-left: 90px;
    width: 1200px;
    text-align: justify;
}

#project-button{
    font-weight: bold;
    color:white;
    background-color: rgb(86, 26, 146);
}